@media (max-width: 1440px) {
  .carousel-slide {
    flex: 1 0 25%;
  }
}
@media (max-width: 992px) {
  .carousel-slide {
    flex: 1 0 33%;
  }
}
@media (max-width: 768px) {
  .carousel-slide {
    flex: 1 0 50%;
  }
}
@media (max-width: 576px) {
  .carousel-slide {
    flex: 1 0 100%;
  }
}
