img{
	height:100px;
}

body, h1, .fs-4 {
  color: #1B589B;
}

.fs-4, nav, .nav-link {
  color: white;
}

.nav-logo {
  height: 80px;
}

header, footer {
  background-color: #133e6c;
}

.main-item {
  padding-bottom: 2em;
}

.swiper-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-item {
  width: 400px;
  display: flex;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
}

.card-image {
  /* width: 100%; */
  aspect-ratio: 16/9;
  /* object-fit: cover; */
}
