img{
	height:100px;
}

body, h1, .fs-4 {
  color: #1B589B;
}

.fs-4, nav, .nav-link {
  color: white;
}

.nav-logo {
  height: 80px;
}

header, footer {
  background-color: #133e6c;
}

.main-item {
  padding-bottom: 2em;
}
